{% extends 'base.html.twig' %}

{% block title %}Hello BookController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    {% if books is not empty %}
        <h2>Books</h2>
        <ul>
            {% for book in books %}
                <li><a href="/book/{{ book.id }}">{{ book.title }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No books found.</p>
    {% endif %}


</div>
{% endblock %}
